<h1>단순 for으로 출력</h1>
<% const rank = context.rank %>
<% for (let i = 0; i < rank.length; i++){ 
    for (let j = 0; j < rank[i].length; j++){
        if(j==(rank[i].length)-1){%>
    <%= rank[i][j] %><br>
<%      }else{ %>
    <%= rank[i][j] %>, 
    
<%         }
    }
} %>
<hr>
<h1>이중 for으로 출력</h1>
<table border="1">
    <% for (let i = 0; i < rank.length; i++){ %>
        <tr>
        <% for (let j = 0; j < rank[i].length; j++){
            if(j==(rank[i].length)-1){%>
        <td><%= rank[i][j] %></td>
    <%      }else{ %>
        <td><%= rank[i][j] %></td>
    <%         }
        } %>
    </tr>
    <% } %>
    
</table>