<body>
    <h1>login 페이지 입니다</h1>
    <a href="/">index</a>
    <a href="/logout">logout</a>
    <hr>
    <%= n %><br> <!-- '='이 있는 것은 정의되어 있는 값을 가져와서 출력 -->
    <% const msg = "java script언어만 사용가능"; %> <!-- '='이 없는 것은 값을 정의 -->
    <% const arr = [10,20,30]; %>
    <%= msg %><br>
    <%= arr %><br>
    <%= arr[0] %>
</body>